.section3{
    display: flex;
    padding: 5%;
    height:100vh;
}

.section3 img{
    width: 50%;
}

.section3_text{
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.section3_text h2{
    font-size: 48px;
    color: #17c948;
}
.section3_text p{
    font-size: 28px;
}

